
@media (max-width: 426px){
    body{
        justify-content: center;
    }

    .container{
        display: flex;
        flex-direction: column;
    }
    
        .firstPart{
            margin:auto;
            width: 225px;
            height: 220px;
            border: solid 20px rgb(0, 19, 126);
        }
        .d1{
            margin: auto;
            width: 185px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
            background-color: rgb(42, 42, 183);
        }

        .d111{
            margin: auto;
            width: 185px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
            border-top-width: 0px;
            background-color: rgb(42, 42, 183);
        }

        .g1{
            margin: auto;
            width: 185px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
            background-color: rgb(42, 42, 183);
        }

        .space1{
            display: none;
            width: 600px;
            height: 10px;
            background-color: rgb(0, 19, 126);
        }

        .d121{
            margin-left: -20px;
            margin-top:20px;
            width: 185px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
            background-color: rgb(42, 42, 183);
        }

        
    
        .d11{
            display: none;
            margin: auto;
            width: 260px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
            border-top: 40px;
            background-color: rgb(237, 59, 59);
        }
    
        .d12{
            display: none;
            margin-left: 100px;
            width: 20px;
            height: 20px;
            background-color: rgb(158, 36, 36);
        }
    
        .d13{
            display: none;
            margin-top: -20px;
            margin-left: 450px;
            width: 20px;
            height: 20px;
            background-color: rgb(158, 36, 36);
        }
    
        .secondpart{
            margin: auto;
            width: 230px;
            height: 330px;
            border: solid 20px rgb(132, 0, 255);
            flex-direction: column;
            background-color: rgb(145, 37, 177);
        }
    
        .column{
            width: 270px;
            display: flex;
            flex-direction: column;
        }
        
        .space3{
                width: 240px;
                height: 20px;
                background-color: rgb(132, 0, 255);
        }

        .space4{
            margin-left: -2px;
            width: 240px;
            height: 20px;
            background-color: rgb(0, 19, 126);
    }
        .d2{
            width: 190px;
            height: 20px;
            border: solid 20px rgb(210, 138, 12);
            border-bottom: 0px;
            background-color: rgb(145, 37, 177);
        }
    
        .d21{
            display: none;
            width: 20px;
            height: 20px;
            background-color: rgb(210, 138, 12);
            margin:auto;
        }
    
        .d22{
            width: 190px;
            height: 20px;
            border: solid 20px rgb(210, 138, 12);
            background-color: rgb(145, 37, 177);
        }

        .d2122{
            margin-top: -20px;
            width: 190px;
            height: 20px;
            border: solid 20px rgb(210, 138, 12);
            border-bottom: 0px;
            background-color: rgb(145, 37, 177);
        }

        .d21223{
            margin-top: 0px;
            width: 190px;
            height: 20px;
            border: solid 20px rgb(210, 138, 12);
            background-color: rgb(145, 37, 177);
        }

        .d23{
            display:none;
            flex-direction: column;
            margin-top: -140px;
            margin-left: 860px;
            width: 170px;
            height: 140px;
            background-color: rgb(145, 37, 177);
        }
        
        .d4{
            margin-top: 20px;
            margin-left: 20px;
            width: 190px;
            height: 20px;
            background-color: rgb(91, 206, 14);
         }

         .d41{
            margin-top: 10px;
            margin-left: 20px;
            width: 190px;
            height: 20px;
            background-color: rgb(91, 206, 14);
         }


        .d24{
            display: none;
            margin-top: 20px;
            margin-left: 45px;
            width: 185px;
            height: 20px;
            background-color: rgb(91, 206, 14);
        }

        .d3{
                margin-left: -20px;
                width: 230px;
                height: 90px;
                border-top: 0px;
                border: solid 20px rgb(0, 19, 126);
                flex-direction: column;
                background-color: rgb(112, 255, 96);
        }

        .d31{
            margin-top: 20px;
            margin-left: 23px;
            width: 185px;
            height: 20px;
            background-color: rgb(0, 19, 126);
        }

        .d311{
            margin-top: 10px;
            margin-left: 23px;
            width: 185px;
            height: 20px;
            background-color: rgb(0, 19, 126);
        }

        .space{
            height:  20px;
        }
    
        .thirdpart{
            margin: auto;
            width: 230px;
            height: 20px;
            border: solid 20px rgb(0, 19, 126) ;
            background-color: rgb(225, 255, 75);
        }
}