@media (max-width: 2560px){

    .container{
        display: flex;
        flex-direction: column;
    }
    
    
        body{
            justify-content: center;
        }
    
        .firstPart{
            margin: auto;
            width: 1200px;
            height: 130px;
            border: solid 20px rgb(0, 19, 126);
        }
        .d1{
            margin: auto;
            width: 1160px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
    
            background-color: rgb(42, 42, 183);
        }
    
        .space1{
            width: 1200px;
            height: 10px;
            background-color: rgb(0, 19, 126);
        }
    
        .d11{
            margin: auto;
            width: 1160px;
            height: 20px;
            border: solid 20px rgb(158, 36, 36);
            background-color: rgb(237, 59, 59);
        }
    
        .d12{
            margin-left: 240px;
            width: 20px;
            height: 20px;
            background-color: rgb(158, 36, 36);
        }
    
        .d13{
            margin-top: -20px;
            margin-left: 880px;
            width: 20px;
            height: 20px;
            background-color: rgb(158, 36, 36);
        }
    
        .secondpart{
            margin: auto;
            width: 1200px;
            height: 140px;
            border: solid 20px rgb(0, 19, 126);
            flex-direction: row;
            background-color: rgb(0, 19, 126);
        }
    
        .column{
            width: 840px;
            display: flex;
            flex-direction: column;
        }
    
        .d2{
            width: 800px;
            height: 20px;
            border: solid 20px rgb(210, 138, 12);
            border-bottom: 0px;
            background-color: rgb(145, 37, 177);
        }
    
        .d21{
            
            width: 20px;
            height: 20px;
            background-color: rgb(210, 138, 12);
            margin:auto;
        }
    
        .d22{
            border-top: -100px;
            margin-left: 0px;
            width: 800px;
            height: 20px;
            border: solid 20px rgb(210, 138, 12);
            background-color: rgb(145, 37, 177);
        }
    
    
    
        .d23{
            display: flex;
            flex-direction: column;
            margin-top: -140px;
            margin-left: 860px;
            width: 340px;
            height: 140px;
            background-color: rgb(145, 37, 177);
        }
    
        .d24{
            margin-left: 1200px;
            margin-top: 20px;
            margin-left: 25px;
            width: 290px;
            height: 25px;
            background-color: rgb(91, 206, 14);
        }
    
        .d241{
            margin-left: 1200px;
            margin-top: 10px;
            margin-left: 25px;
            width: 290px;
            height: 25px;
            background-color: rgb(91, 206, 14);
        }
    
        .space{
            height:  20px;
        }
    
        .d3{
            display: none;
        }
    
        .thirdpart{
            margin: auto;
            width: 1200px;
            height: 20px;
            border: solid 20px rgb(0, 19, 126) ;
            background-color: rgb(225, 255, 75);
        }
    
    }